ion-card {
  margin-top: 45px;
  box-shadow: none;

  --background: none;

  ion-item {
    --background: none;
  }
}

.avatar {

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 85px;
    height: 85px;
    margin: auto;
    border-radius: 50%;
  }
}

.actions-button {
  margin-top: 40px;
}

.aba {
  height: 25vh;
  border-radius: 5%;
  margin-top: -100px;
  margin-bottom: 70px;
  transform: rotate(20deg);
  background: var(--ion-color-dark);
}
