<ion-content class="ion-padding ion-text-center" color="dark">
  <img src="assets/logo.png" class="logo" />

  <div class="title">
    <ion-text color="secondary">
      <h5>AGNSuporte</h5>
      <h2>Seja bem-vinda!</h2>
    </ion-text>
  </div>

  <div class="ion-margin-top">
    <ion-button
      expand="block"
      class="ion-margin-top"
      (click)="onRegister()"
      fill="outline"
      >Criar uma conta</ion-button
    >
    <ion-button
      expand="block"
      class="ion-margin-top"
      routerLink="/login"
      color="light"
      >Entrar</ion-button
    >
  </div>
</ion-content>

<!-- <ion-content [fullscreen]="true">
  <ion-header class="ion-no-border" collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="ion-no-border">
    <ion-card-header>
      <div class="avatar">
        <ion-avatar>
          <img src="assets/cablefiber.jpg" />
        </ion-avatar>
      </div>
    </ion-card-header>

    <ion-card-content>
      <div id="container">
        <p>
          Use este aplicativo<br />
          para gerenciar sua rede de distribuição<br />
          de cabos de fibra optica.<br /><br /><br />
          Desenvolvido por
          <a target="_blank" rel="noopener noreferrer" 
          href="https://agnsuporte.com">AGNSuporte</a>.
        </p>
      </div>
    </ion-card-content>

  </ion-card>



    <ion-card class="ion-no-border">
      <ion-card-content>
        <ion-button routerLink="/app" expand="block" fill="outline">Iniciar Projeto</ion-button>
      </ion-card-content>
    </ion-card>

</ion-content> -->
